{%- form 'create_customer', novalidate: 'novalidate' -%}
<div class="field">
  <input
    type="text"
    name="customer[note][nickname]"
    id="nickname"
    autocomplete="given-name"
    placeholder="Nickname"
  >
  <label for="nickname">
    Your Nickname
  </label>
</div>

<div class="field">
  <input
    type="text"
    name="customer[note][nickname]"
    id="nickname"
    autocomplete="given-name"
    placeholder="{{ 'customer.register.first_name' | t }}"
  >
  <label for="nickname">
    Your Nickname
  </label>
</div>


{%- endform -%}
{% schema %}
  {
    "name": "Custom Form data",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}