<div class="container" style="max-width:800px; margin:auto;">

<form method="post" action="/">
<div class="field">
   <label for="nickname">
    Your Nickname
  </label>
  <input
    type="text"
    name="customer[note][nickname]"
    id="nickname"
    autocomplete="given-name"
    placeholder="Nickname"
  >
</div>

<div class="field">
   <label for="Contact">
    Contact Number
  </label>
  <input
    type="tel"
    name="customer[note][mobile]"
    id="Contact"
    autocomplete="given-name"
    placeholder="contact number"
  >
</div>
<button>
  {{ 'customer.register.submit' | t }}
</button>

</form>
</div>
<style>
  .custom_form .field:after{
    box-shadow: unset;
  }
  .custom_form .field {
    padding: 10px 0;
    flex-direction: column;
  }
  .custom_form input{
    border: 1px solid;
  }
  .custom_form label{
    color:#000;
  }
  .custom_form field:hover{
    box-shadow: unset!important;
  }
</style>
  
{% schema %}
  {
    "name": "Custom Form data",
    "class":"custom_form",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}