{% for item in section.settings.products_per_page %}
<div class="test">{{ item }}</div>
{% endfor %}
{% schema %}
  {
    "name": "Sample",
    "settings": [
      {
        "type": "text",
        "id": "products_per_page",
        "label": "Heading"
      }

    ],
    "presets":[
      {
        "name": "Sample"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}