<div class="Heading">
  <h3 tabindex="0" spellcheck="false" data-pf-type="Heading2" class="Title">Sepecial Offers</h3>
</div>
< class="section_main">
  <div class="left_one">
    <h3 class="heading"></h3>
    <p class="title"></p>
    <div class="timer"></div>
  </div>
  <div class="right_one">

  </div>

</div>

{% schema %}
  {
    "name": "Special Offer",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}